body {
    width: 200px;
    white-space: nowrap; 
    overflow-x: scroll;
}
* {
    color: blanchedalmond;
}
h1 {
    font-family: serif;
}
p {
    font-family: serif;
}
h2 {
    font-family: serif;
}