body {
    width: 200px;
    white-space: nowrap; 
    overflow-x: scroll;
}
* {
    color: blanchedalmond;
    font-family: serif;
}

button {
    background-color: #34568b;
    padding: 14px 40px;
    border-radius: 8px;
    transition-duration: 0.4s;
}
button:hover {
    background-color: #ff6f61;
    color: black;
}